
<form  [formGroup]="formUser" (submit)="fazerLogin()" class="ng-pristine ng-invalid ng-touched">
  <div  class="field">
    <label class="label">Login</label>
    <div  class="control">
      <input  type="email" formControlName="login" placeholder="exemplo@email.com" class="input is-primary ng-pristine ng-invalid ng-touched">
    </div>
  </div>

  <div  class="field">
    <label  class="label">Senha</label>
    <div  class="control">
      <input  type="password" formControlName="senha" class="input is-primary ng-untouched ng-pristine ng-invalid">
    </div>
  </div>
  <div  class="field is-grouped">

  </div>
  <div  class="control">
    <button class="button is-primary">Login</button>
  </div>
</form>
